DB_HOST=localhost
DB_USER=username
DB_PASSWORD=password
DB_NAME=database

BOT_TOKEN=your_telegram_bot_token
XPAY_MERCHANT_ID=your_xpay_merchant_id
XPAY_PRIVATE_KEY=your_xpay_private_key
TON_API_KEY=your_ton_api_key
MAIN_WALLET=your_main_wallet_address
GEN_SEED=your_seed_phrase
TEGROMONEY_SHOP_ID=your_tegromoney_shop_id
TEGROMONEY_SECRET_KEY=your_tegromoney_secret_key
