# Copy this file to .env and replace the values with your own

DB_HOST=localhost
DB_USER=your_db_user
DB_PASS=your_db_password
DB_NAME=your_db_name

XPAY_MERCHANT_ID=your_xpay_merchant_id
XPAY_PRIVATE_KEY=your_xpay_private_key
TON_API_KEY=your_ton_api_key
MAIN_WALLET=your_main_wallet
GEN_SEED="your seed phrase here"

TGR_BEP20_FEE=2
TGR_TON_FEE=0.1
TON_FEE=0.1

TEGROMONEY_SHOPID=your_tegro_shop_id
TEGROMONEY_SECRETKEY=your_tegro_secret_key

CHEQUE_FEE=0.02

STAKING_FEE_0_0=15
STAKING_FEE_0_1=18
STAKING_FEE_0_2=21
STAKING_FEE_0_3=24
STAKING_FEE_1_0=9
STAKING_FEE_1_1=10
STAKING_FEE_1_2=11
STAKING_FEE_1_3=12

EXCHANGE_FEE=0.005
